.message.system {
  color: #505053;
}

.message.notice {
  color: #97008B;
}

.message.error {
  color: #58231D;
}

.message.update {
  color: #00068F;
}

.message.update.self {
  color: #005816;
}

.message.update.privmsg {
  color: #505053;
}

.message.update.privmsg.self {
  color: gray;
}

.message.update.privmsg.mention {
  color: darkred;
}

.message.update.privmsg.mention .source {
  font-weight: bold;
}

.message.update.privmsg.direct .source {
  color: #488AA8;
}

.message.update.privmsg.notice .source {
  color: #97008B;
}