.message.circ {
  color: black;
}

.message.system {
  color: #005816;
}

message.system_other,
message.part,
message.nick,
message.quit,
message.join {
  color: #040064;
}

.message.privmsg {
  color: black;
}

.message.privmsg.self {
  color: gray;
}

.message.privmsg.mention {
  color: darkred;
}
.message.privmsg.mention .source {
  font-weight: bold;
}