body {
  font-family: monospace;
  margin: 0; padding: 0;
}

#main {
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  height: 100%;
}

#channels {
  border-right: 2px solid lightgray;
  overflow-y: auto;
  width: 150;
  list-style: none;
  font-family: Helvetica, arial, sans-serif;
  font-size: 12px;
  margin: 0;
  padding: 10px;
  padding-right: 0;
}

#channels li {
  padding: 2px 10px;
  border-radius: 2px 0 0 2px;
}

#channels li.selected {
  background-color: lightgray;
  font-weight: bold;
  color: white;
}

.longword { word-break: break-all; }

#chat {
  -webkit-box-flex: 1;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

#window-container {
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  -webkit-box-flex: 1;
}

#chat-container {
  -webkit-box-flex: 1;
  overflow-y: scroll;
}

#chat-messages {
  display: table;
}

.message {
  display: table-row;
}
.message .source {
  display: table-cell;
  text-align: right;
  padding: 0 4px;
  border-right: 1px solid lightgray;
  min-width: 125px;
}
.message .text {
  display: table-cell;
  padding: 0 4px;
  color: #999;
}

.message.privmsg .text {
  color: black;
}

#entry {
}

#status {
  background-color: lightgray;
}

#cmd {
  height: 20px;
  padding-left: 4px;
  font-family: inherit;
  font-size: inherit;
  width: 100%;
}

#nicks {
  overflow-y: auto;
  width: 125;
  padding: 0 2px;
}