body {
  color: #505053;
  font-size: 14px;
  font-family: "Roboto";
  margin: 0;
}

#templates {
  display: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.content-item {
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
}

#main {
  background-color: #F9F9F9;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  width: 100%;
  height: 100%;
}

#rooms-and-nicks {
  background-color: #F7F5E4;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-box-flex: 0;
  width: 185px;
  padding: 4px 0px;
  border-right: 1px solid rgba(0, 0, 0, .15);
  overflow-y: auto;
}

#rooms-and-nicks h1 {
  color: #406698;
  text-transform: uppercase;
  font-size: 12px;
  padding: 8px 0px 2px 10px;
  margin: 0px;
}

#rooms-and-nicks .nick,
#rooms-and-nicks .room {
  padding: 0 8px;
  line-height: 26px;
}

#rooms-container {
  -webkit-box-flex: 0;
  border-bottom: 1px solid #CCC;
  padding-bottom: 10px;
}

.no-nicks #rooms-container {
  border-bottom-style: none;
  padding-bottom: 0px;
}

#rooms-and-nicks .room.server {
  background-color: #F2EFD3;
}

#rooms-and-nicks .room.channel {
  line-height: 0;
}

#rooms-and-nicks .room.channel:first-child {
  padding-top: 3px;
}

#rooms-and-nicks .room.channel:first-child .content-item {
  padding-top: 3px;
  line-height: 20px;
}

#rooms-and-nicks .room.channel:last-child {
  padding-bottom: 3px;
}

#rooms-and-nicks .room.channel:last-child .content-item {
  padding-bottom: 3px;
  line-height: 20px;
}

#rooms-and-nicks .room.channel:last-child:first-child .content-item {
  line-height: 17px;
}

#rooms-and-nicks .room.channel .content-item {
  border-left: 1px solid rgba(0, 0, 0, .5);
  padding-left: 7px;
}

#rooms-and-nicks .room.activity {
  font-weight: bold;
}

#rooms-and-nicks .room.mention {
  color: darkred;
}

#rooms-and-nicks .room.selected {
  background-color: #D4CA6D;
}

#nicks-container {
  border-top: 1px solid #F9F9F9;
  -webkit-box-flex: 1;
}

.no-nicks #nicks-container {
  display: none;
}

.nicks {
  padding-top: 5px;
}

.nicks li:nth-child(odd) {
  background-color: #F2EFD3;
}

#messages-and-input {
  -webkit-box-flex: 1;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  box-shadow: 0px 0px 8px #CCC;
  padding-top: 2px;
}

#messages-and-input > div {
  padding-left: 14px;
  padding-right: 14px;
}

#messages-container {
  overflow-y: auto;
  -webkit-box-flex: 1;
  padding: 0px 15px 0px 20px;
}

.messages {
  display: table;
}

.message {
  display: table-row;
  -webkit-user-select: initial;
}

.message .source {
  font-weight: bold;
  padding-right: 20px;
  white-space: nowrap;
  display: table-cell;
  text-align: right;
}

.message .content {
  display: table-cell;
  padding: 3px 0;
}

.longword { word-break: break-all; }

#status-and-input {
  -webkit-box-flex: 0;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  padding-bottom: 12px;
  background-color: #ECECEC;
}

#status {
  -webkit-box-flex: 0;
  padding: 8px 0px;
}

#status span {
  padding: 0px 6px;
}

#status .nick:before {
  font-weight: bold;
  content: "[ "
}
#status .nick:after {
  font-weight: bold;
  content: " ]"
}

#status .away:before {
  content: "("
}
#status .away:after {
  content: ")"
}

#status .topic {
  font-style: italic;
}

#input {
  background-color: #F9F9F9;
  -webkit-box-flex: 1;
  width: 100%;
  height: 30px;
  border: 1px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 3px #888;
  color: #505053;
  font-size: 14px;
  font-family: "Roboto";
  padding: 0px 8px;
  outline: 0;
}