body {
  font-family: monospace;
  margin: 0; padding: 0;
  background-color: grey;
}

#main {
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  height: 100%;
  background-color: white;
}

li {
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
}

#channel-display-container {
  display: -webkit-box;
  border-right: 2px solid lightgray;
}

#channel-display {
  overflow-y: auto;
  overflow-x: hidden;
  display: -webkit-box;
}

#channels {
  list-style: none;
  font-family: Helvetica, arial, sans-serif;
  font-size: 14px;
  margin: 0;
  padding: 0;
  width: 135;
  padding-bottom: 0;
}

#channels li {
  padding: 2px 8px;
}

#channels li.indent {
  padding: 0;
  line-height: 20px;
}

#channels li.indent div {
  background: url(node.png) no-repeat;
  margin-left: 14px;
  padding: 0 12px;
}

#channels li.indent.last div {
  background: url(lastnode.png) no-repeat;
}

#channels li.selected {
  background-color: DDD;
}

#channels li.activity {
  font-weight: bold;
}

#channels li.mention {
  color: darkred;
}

.longword { word-break: break-all; }

#chat {
  -webkit-box-flex: 1;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

#window-container {
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  -webkit-box-flex: 1;
}

#chat-display-container {
  -webkit-box-flex: 1;
  display: -webkit-box;
}

#chat-display {
  overflow-y: scroll;
  -webkit-box-flex: 1;
  padding-bottom: 2px;
  width: 100%;
}

#chat-messages {
  display: table;
}

.message {
  display: table-row;
  color: #999;
}
.message .source {
  display: table-cell;
  padding: 0 4px;
  text-align: right;
  border-right: 1px solid lightgray;
  white-space: nowrap;
}
.message .text {
  display: table-cell;
  padding: 0 4px;
}

#cmd {
  height: 20px;
  padding-left: 4px;
  font-family: inherit;
  font-size: inherit;
  width: 100%;
}

#nick-display-container {
  display: -webkit-box;
}

#nick-display {
  overflow-y: auto;
  overflow-x: hidden;
  display: -webkit-box;
}

#nicks {
  width: 100;
  font-family: Helvetica, arial, sans-serif;
  font-size: 14px;
  list-style: none;
  margin: 0;
  padding: 4px;
  padding-bottom: 0;
}

#nicks li {
  padding: 0 4px;
  border-radius: 2px 0 0 2px;
}

#status {
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
  background-color: lightgray;
}